.header1{
    margin-bottom: 80px;
}
.header1 img{
    width: 100%;
}
.habc{
    color: brown;
}
.p123{
    text-align: center;
    color: cornflowerblue
}
.p234{
    text-align: center;
    color: cyan;
}
.hcde{
    color: chartreuse;
}
.slogan{
    margin: 50px 0;
    height: 80px;
}